{% extends "classmanager/layout.html" %}

{% block body %}
<h1>Contact Us</h1>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Kenechi Okoye</h5>
    <h6 class="card-subtitle mb-2 text-muted">Project lead</h6>
    <p class="card-text">Hi I'm Kenechi Okoye, I am currently a Sophomore at Binghamton University and I built this
      application to help instructors administer courses to students effectively.<br>
      Coursemanager is implemented using the Django framework with Python on the backend and Bootstrap and JavaScript on the frontend. <br>
      I hope you enjoyed using this, feel free to open an issue on
      github or send an email if anything does not work properly.
    </p>
    <a target="_blank" href="https://github.com/okoyekk/coursemanager-project/issues" class="card-link">Open issue</a>
    <a target="_blank" href="mailto:okoyekk@gmail.com" class="card-link">Send email</a>
  </div>
</div>
{% endblock body %}
