{% extends "classmanager/layout.html" %}

{% block body %}
<h1>Contact Us</h1>
<div class="course-listing">
  <p>Hi I'm Kenechi Okoye, I am currently a Sophomore at Binghamton University and I built this Application to help
    courses to be administered to students effectively. I hope you enjoyed using this, feel free to open an issue on
    github(<a href="https://github.com/okoyekk">@okoyekk</a>) if anything does not work properly.</p>
  <p>Also, you could send me an <a href="mailto:okoyekk@gmail.com">email</a> if you'd like to chat</p>
</div>
{% endblock body %}
