{% extends "classmanager/layout.html" %}

{% block body %}
<h1>Deactivate {{course.name}}</h1>
{% if user.is_instructor and course %}
<h4>Do you want to deactivate "{{course.name}}"?</h4>
<div class="deactivate-course-buttons">
  <p>This action is irreversible!</p>
  <form class="button-form" action="{% url 'deactivate-course' course_id=course.id %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Yes" />
  </form>
  <form class="button-form" action="{% url 'view-created-courses' %}" method="GET">
    <input class="btn btn-primary" type="submit" value="No" />
  </form>
</div>
{% endif %}

{% endblock body %}
