{% extends "classmanager/layout.html" %}

{% block body %}
<h1>Grade "{{submission.assignment.title}}" for "{{submission.student.user}}" in "{{course.name}}" </h1>
<div class="course-section">
  <p>{{submission}}</p>
  <p>{{submission.student.user}}</p>
  <p>Answer: {{submission.text}}</p>
  <p>Current Score: {{submission.score}}/{{submission.assignment.points}}</p>
  <form class="button-form" action="{% url 'grade-submission' submission_id=submission.id %}" method="POST">
    {% csrf_token %}
    <label for="score">Enter a new score (between 0 and {{submission.assignment.points}}):</label>
    <input type="number" id="score" name="score" default="{{submission.score}}" min="1"
      max="{{submission.assignment.points}}"><br>
    <input class="btn btn-outline-primary" type="submit" value="Update Score" />
  </form>
</div>
{% endblock body %}
