{% extends "classmanager/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<h2>Welcome, {{user.first_name}} {{user.last_name}}</h2>
<h5>Here are some things you can do:</h5>
<div class="operations">
  {% if user.is_instructor %}
  <!-- Create Course -->
  <form class="button-form" action="{% url 'create-course' %}" method="GET">
    <input class="btn btn-outline-primary" type="submit" value="Create A Course" />
  </form>
  <form class="button-form" action="{% url 'view-created-courses' %}" method="GET">
    <input class="btn btn-outline-primary" type="submit" value="View created courses" />
  </form>
  <!-- View My courses -->
  {% endif %}
  {% if user.is_student %}
  <!-- View My courses -->
  <form class="button-form" action="{% url 'view-joined-courses' %}" method="GET">
    <input class="btn btn-outline-primary" type="submit" value="View my courses" />
  </form>
  {% endif %}
  <!-- View All Courses (If user is student, they can register for it,
       if they're an instructor, they can delete it if they created it) -->
  <form class="button-form" action="{% url 'view-all-courses' %}" method="GET">
    <input class="btn btn-outline-primary" type="submit" value="View all courses" />
  </form>

</div>
{% else %}
<!-- What is shown to unauthenticated users - An about page -->
<h1 class="display-3">Welcome to Classmanager</h1>
<p class="lead">
  Classmanager is an interactive application which is designed to help course instructors administer classes to their students efficiently. <br>
  Get started by clicking on register to create a user account and exploring available features such as registering for a role and joining or creating a course.
</p>

{% endif %}

{% endblock body %}
