{% extends "classmanager/layout.html" %}

{% block body %}
<h1>Join a course</h1>
{% if user.is_student and course %}
<h4>Do you want to join "{{course.name}}" taught by {{course.instructor.user.first_name}}
  {{course.instructor.user.last_name}}?</h4>
<div class="join-course-buttons">
  <form class="button-form" action="{% url 'join-course' course_id=course.id %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Yes" />
  </form>
  <form class="button-form" action="{% url 'view-all-courses' %}" method="GET">
    <input class="btn btn-danger" type="submit" value="No" />
  </form>
</div>
{% else %}
<div class="alert alert-warning" role="alert">
  You don't have the permission to join a course, only Students do!
</div>
{% endif %}

{% endblock body %}
