{% extends "classmanager/layout.html" %}
{% load static %}

{% block body %}
<h1>Register</h1>
<h3>Click a button to register for a specific type of account</h3>
<div class="btn-group" id="register-buttons" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">User</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Student</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Instructor</label>
</div>
<div class="register-links" style="display: none;">
  <form action="{% url 'register-user' %}">
    <input class="btn btn-outline-primary" type="submit" value="Register User" />
  </form>
  <form action="{% url 'register-student' %}">
      <input class="btn btn-outline-primary" type="submit" value="Register Student" />
  </form>
  <form action="{% url 'register-instructor' %}">
      <input class="btn btn-outline-primary" type="submit" value="Register Instructor" />
  </form>
</div>
{% endblock body %}

{% block script %}
    <script src="{% static 'classmanager/main.js' %}"></script>
{% endblock %}
