{% extends "classmanager/layout.html" %}

{% block body %}
<h1>All Submissions for "{{assignment.title}}" in "{{course.name}}"</h1>
<div class="course-section">
  {% for submission in submissions %}
  <p>{{submission}}</p>
  <p>{{submission.student.user}}</p>
  <p>Answer: {{submission.text}}</p>
  <p>Current Score: {{submission.score}}/{{submission.assignment.points}}</p>
  <form class="button-form" action="{% url 'grade-submission' submission_id=submission.id %}"
    method="GET">
    <input class="btn btn-outline-primary" type="submit" value="Grade Submission" />
  </form>
  <hr>
  {% empty %}
  <p>No submission has been made for this class yet</p>
  {% endfor %}
</div>
{% endblock body %}
