{% extends "classmanager/layout.html" %}

{% block body %}
<h1>{{course.name}}</h1>
<h3>Announcements</h3>
{% if user.is_instructor %}
<form class="button-form" action="{% url 'create-announcement' course_id=course.id %}" method="GET">
    <input class="btn btn-outline-primary" type="submit" value="Create an Announcement" />
</form>
{% endif %}
<div class="course-section">
    <!-- Show first 3 announcements and a link to view all announcements -->
    {% for announcement in announcements|slice:3 %}
    <hr>
    <p>{{announcement}}</p>
    {% empty %}
    <p>No announcement has been made in this class yet</p>
    {% endfor %}
    <hr>
    {% if announcements|length > 3 %}
    <form class="button-form" action="{% url 'view-all' course_id=course.id activity='announcements' %}" method="GET">
        <input class="btn btn-outline-primary" type="submit" value="View all {{announcements|length}} announcements" />
    </form>
    {% endif %}
</div>
<h3>Assignments</h3>
{% if user.is_instructor %}
<form class="button-form" action="{% url 'create-assignment' course_id=course.id %}" method="GET">
    <input class="btn btn-outline-primary" type="submit" value="Create an Assignment" />
</form>
{% endif %}
<div class="course-section">
    <!-- Show first 3 assignments and a link to view and submit all assignments -->
    {% for assignment in assignments|slice:3 %}
    <hr>
    <p>{{assignment}}</p>
    {% if user.is_student %}
    <form class="button-form" action="{% url 'create-submission' course_id=course.id assignment_id=assignment.id%}"
        method="GET">
        <input class="btn btn-outline-primary" type="submit" value="Submit" />
    </form>
    {% else %}
    <form class="button-form" action="{% url 'view-submissions' course_id=course.id assignment_id=assignment.id%}"
        method="GET">
        <input class="btn btn-outline-primary" type="submit" value="View Submissions" />
    </form>
    {% endif %}
    {% empty %}
    No assignment has been made for this class yet
    {% endfor %}
    {% if assignments|length > 3 %}
    <form class="button-form" action="{% url 'view-all' course_id=course.id activity='announcements' %}" method="GET">
        <input class="btn btn-outline-primary" type="submit" value="View all {{assignments|length}} assignments" />
    </form>
    {% endif %}
    {% if user.is_student %}
    <hr>
    <form class="button-form" action="{% url 'view-all-submissions' course_id=course.id %}" method="GET">
        <input class="btn btn-outline-primary" type="submit" value="View all Your submissions" />
    </form>
    {% endif %}
</div>

{% if user.is_instructor %}
<h3>My Students</h3>
<form class="button-form" action="{% url 'create-attendance' course_id=course.id %}" method="GET">
    <input class="btn btn-outline-primary" type="submit" value="Take Attendance" />
</form>
<form class="button-form" action="{% url 'view-attendance' course_id=course.id %}" method="GET">
    <input class="btn btn-outline-primary" type="submit" value="View Attendance" />
</form>
{% endif %}

<h3>Grades</h3>
{% if user.is_instructor %}
<form class="button-form" action="{% url 'view-finals' course_id=course.id %}" method="GET">
    <input class="btn btn-outline-info" type="submit" value="View class final score" />
</form>
<form class="button-form" action="{% url 'grade-finals' course_id=course.id %}" method="GET">
    <input class="btn btn-outline-success" type="submit" value="Give final grades" />
</form>
<form class="button-form" action="{% url 'deactivate-course' course_id=course.id %}" method="GET">
    <input class="btn btn-outline-warning" type="submit" value="Deactivate course" />
</form>
<form class="button-form" action="#" method="GET">
    <input class="btn btn-outline-danger" type="submit" value="Delete course" />
</form>
{% else %}
<form class="button-form" action="{% url 'view-finals' course_id=course.id %}" method="GET">
    <input class="btn btn-outline-success" type="submit" value="View Final Grades" />
</form>
<form class="button-form" action="{% url 'leave-course' course_id=course.id %}" method="GET">
    <input class="btn btn-outline-danger" type="submit" value="Leave course" />
</form>
{% endif %}

{% endblock body %}
