{% extends "classmanager/layout.html" %}

{% block body %}
<h1>Weekly Attendance for {{course.name}}</h1>
<div class="course-section">
  {% for week, attendances in attendance_dict.items %}
  <h5>Week {{week}}</h5>
  {% for attendance in attendances %}
  <div class="card">
    <div class="card-body">
      <p>{{attendance}}</p>
    </div>
  </div>
  {% endfor %}
  {% empty %}
  <div class="card">
    <div class="card-body">
      <p>No attendance has been taken in this class yet</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body %}
