{% extends "classmanager/layout.html" %}

{% block body %}
<h1>My Profile</h1>

<div class="card" style="max-width: 400px;">
  <div class="card-body">
    <h5 class="card-title">{{user}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Major: {{student.major}}</h6>
    <p class="card-text">
      {% if user.is_student %}
      <strong>Date of birth:</strong> {{student.date_of_birth}} <br>
      <strong>Standing:</strong> {{student.standing}} <br>
      <strong>Credits completed:</strong> {{student.credits}} <br>
      <strong>Status: </strong> Active
      {% else %}
      {% if user.is_instructor %}
      <strong>Date of birth:</strong> {{instructor.date_of_birth}}<br>
      <strong>Courses taught:</strong> {{courses}}<br>
      <strong>Department:</strong> {{instructor.department}}<br>
      {% else %}
      You are a <mark>standard user</mark>, please register for a role in order to have more on your profile.
      {% endif %}
      {% endif %}
    </p>
    <form class="button-form" action="{% url 'change-name' %}" method="GET">
      <input class="btn btn-outline-primary" type="submit" value="Change my name" />
    </form>
  </div>
</div>

{% endblock body %}
