.main-container {
    margin: 10px 20px 10px 20px;
}

.btn-group {
    margin-bottom: 10px;
}

.register-forms {
    margin-bottom: 10px;
}

.course-listing {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    max-width: 600px;
}

form {
    max-width: 600px;
}

/* Class for forms that serve as buttons to a link */
.button-form {
    margin: auto;
    padding: 5px;
    display: inline;
}

.course-section {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    max-width: 600px;
    margin: 5px;
}
